.login-page {
  font-family: 'po';
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideOut {
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-page .MuiBox-root {
  border-radius: 10px !important;
  background: #ffffff !important;
  padding: 2rem !important;
  max-width: 400px;
  text-align: center;
  animation: fadeSlideIn 0.1s ease forwards;
}

.login-page .MuiTypography-root {
  color: #384a73 !important;
}

.login-page .MuiTypography-h6 {
  font-weight: 400 !important;
  font-size: 1.2rem !important;
}
