.buttons-container {
  width: calc(100% - 2vw);
  height: 5vh;
  position: absolute;
  top: 2vh;
  left: 1vw;
  z-index: 100;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  
  opacity: 1;
  transform: rotate(0deg);
  
  box-sizing: border-box;
}