.columns-box {
  width: 100%;
  height: 50px;
  min-height: 50px;
  
  display: flex;
  align-items: center;
  
  background-color: #F9FAFB;
  border-bottom: 1px solid #E5E7EB;
  
  padding: 0 16px;
  box-sizing: border-box;
}

.column-header {
  flex: 1;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  
  text-align: left;
}

.column-header:last-child {
  text-align: center;
}