*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container{
  background-color: #f0f0f0;
  height: 300px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}
